body
{

background-image:url('background.png');








} /* end of body */

h1
{

font-family:arial black;
color:Green;
font-size:30px;
font-style:bold;
text-decoration:underline;





}
h2
{

font-family: times new roman;
color:White;
font-size:30px;
font-style:Bold;
text-decoration:underline;



} 
h3
{
font-family:helvetica;
color:orange;
font-size:30px;
font-style:bold;
text-decoration:underline;


}
h4
{
font-family:helvetica;
color:blue;
font-size:30px;
font-style:bold;
text-decoration:underline;






}
ul
{





}
.first
{
color:Green;
font-size:30px;
font-style:bold;
font-family:helvetica;


}
.second
{
color:White;
font-size:30px;
font-style:bold;
font-family:helvetica;



}

.third
{
color:White;
font-size:30px;
font-style:Bold;
font-family:helvetica;





} /* end of li third */

.fourth
{

color:orange;
font-size:30px;
font-style:Bold;
font-family:helvetica;




}
a:link
{

color:Red;






}